# BEGIN WP Hide & Security Enhancer
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /
#WriteCheckString:1596132670_2707
	RewriteRule .* - [E=HTTP_MOD_REWRITE:On]
	
	RewriteRule ^ctcplavo/(.+) /wp-content/themes/nextone/$1 [L,QSA]
	
	RewriteRule ^phyrtica/(.+) /wp-content/plugins/$1 [L,QSA]
	
	RewriteRule ^gleckins/(.+) /wp-includes/$1 [L,QSA]
	
	RewriteRule ^ekophooz/(.+) /wp-content/uploads/$1 [L,QSA]
	
	RewriteRule ^yweesygl.php /wp-comments-post.php [L,QSA]
	
	RewriteRule ^oasseemt/(.+) /wp-content/$1 [L,QSA]
</IfModule>

# END WP Hide & Security Enhancer

# BEGIN WordPress
# Các nội dung nằm giữa "BEGIN WordPress" và "END WordPress" được tạo ra tự động, và chỉ nên được thay đổi thông qua các filter của WordPress. Mọi thay đổi tới thành phần này có thể sẽ bị mất và ghi đè.
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
	RewriteBase /
	RewriteRule ^index\.php$ - [L]
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule . /index.php [L]
</IfModule>
<ifmodule mod_expires.c="">
	ExpiresActive On
	ExpiresByType image/jpg “access 1 year”
	ExpiresByType image/jpeg “access 1 year”
	ExpiresByType image/gif “access 1 year”
	ExpiresByType image/png “access 1 year”
	ExpiresByType image/svg “access 1 year”
	ExpiresByType text/css “access 1 month”
	ExpiresByType application/pdf “access 1 month”
	ExpiresByType application/javascript “access 1 month”
	ExpiresByType application/x-javascript “access 1 month”
	ExpiresByType application/x-shockwave-flash “access 1 month”
	ExpiresByType image/x-icon “access 1 year”
	ExpiresDefault “access 2 days”
</ifmodule>
# END WordPress
<filesMatch ".(ico|pdf|flv|jpg|jpeg|png|gif|svg|js|css|swf)$">
	Header set Cache-Control "max-age=84600, public"
</filesMatch>
## EXPIRES HEADER CACHING ##
<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresByType image/jpg "access 1 year"
	ExpiresByType image/jpeg "access 1 year"
	ExpiresByType image/gif "access 1 year"
	ExpiresByType image/png "access 1 year"
	ExpiresByType image/svg "access 1 year"
	ExpiresByType text/css "access 1 month"
	ExpiresByType application/pdf "access 1 month"
	ExpiresByType application/javascript "access 1 month"
	ExpiresByType application/x-javascript "access 1 month"
	ExpiresByType application/x-shockwave-flash "access 1 month"
	ExpiresByType image/x-icon "access 1 year"
	ExpiresDefault "access 2 days"
</IfModule>
## EXPIRES HEADER CACHING ##