@import "../base/mixins";

.gentleman-header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;

  &__background {
    display: block;
    img {
      display: block;
    }
  }

  &__logo {
    margin-top: 18px;
  }

  &__desc {
    text-align: center;
    position: relative;
    font-size: 1.063rem;
    font-weight: 400;
    color: $white;
    line-height: 24px;
    z-index: 2;
    padding: 15px 20px 20px 20px;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 690px;
    margin: 0 auto;
    strong,
    p {
      color: $white;
    }
    @include breakpoint-up(md) {
      padding: 26px 26px 32px 26px;
      margin-top: -20px;
    }
  }

  &__nav {
    background-color: rgba(0, 0, 0, 0.802);

    @include breakpoint-up(md) {
      @include flex;
      @include align-items(center);
      @include justify-content(center);

      border-top: 1px solid $white;
    }
  }

  &__item {
    border-top: 1px solid $white;
    border-bottom: 1px solid $white;
    list-style: none;
    @include breakpoint-up(md) {
      border-top: none;
      border-bottom: none;
      border-left: 1px solid $white;
      border-right: 1px solid $white;
      &:first-child {
        border-left: none;
      }
      &:last-child {
        border-right: none;
      }
    }
  }

  &__item__link {
    color: $white;
    font-weight: 700;
    font-size: 1rem;
    display: block;
    padding: 16px;
    @include transition(0.3s);
    &:hover {
      color: $genColor;
    }
    @include breakpoint-up(md) {
      padding: 36px 62px;
    }
  }
}

.gentleman-brand {
  margin-top: 38px;
  @include breakpoint-up(md) {
    margin-top: 72px;
  }
  &__container {
    text-align: center;
    max-width: 1238px !important;
  }

  &__title {
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    color: $black;
    text-shadow: 1px 2px 1px $genColor;

    background-image: url("../images/gentleman/smallIcon.png");
    background-position: bottom center;
    background-size: 300px auto;
    background-repeat: no-repeat;
    padding-bottom: 50px;
    @include breakpoint-up(md) {
      font-size: 2.643rem;
      background-size: 443px auto;
      padding-bottom: 78px;
    }
  }

  &__img-info-wrapper {
    @include breakpoint-up(md) {
      margin-top: 66px;
      @include flex;
      @include align-items(center);
    }
  }

  &__img-wrapper {
    margin-top: 33px;
    @include breakpoint-up(md) {
      width: 50%;
      text-align: left;
      margin-top: 0;
    }
  }

  &__img {
  }

  &__info {
    margin-top: 33px;
    text-align: left;

    p {
      padding-bottom: 20px;
      color: $black;
      line-height: 26px;
      @include breakpoint-up(md) {
        padding-bottom: 26px;
        font-size: 1.143rem;
      }
    }

    strong {
      color: $black;
    }

    @include breakpoint-up(md) {
      width: 50%;
      margin-top: 0;
      padding-left: 60px;
      max-width: 568px;
    }
  }
}

.gentleman-highlight {
  margin-top: 56px;
  @include breakpoint-up(md) {
    margin-top: 126px;
  }
  &__container {
  }

  &__title {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    color: $black;
    text-shadow: 1px 2px 1px $genColor;

    background-image: url("../images/gentleman/smallIcon.png");
    background-position: bottom center;
    background-size: 300px auto;
    background-repeat: no-repeat;
    padding-bottom: 50px;
    @include breakpoint-up(md) {
      font-size: 2.643rem;
      background-size: 443px auto;
      padding-bottom: 78px;
    }
  }

  &__slider {
    position: relative;
    .owl-stage-outer {
      padding: 0;
      box-sizing: border-box;
    }

    .owl-nav {
      margin-bottom: 20px;
      position: absolute;
      width: 100%;
      top: 40%;
      @include flex;
      @include justify-content(space-between);
      @include breakpoint-up(md) {
        position: relative;
        width: 100%;
      }
      button {
        &.owl-prev {
          @include breakpoint-up(md) {
            margin-right: 200px;
          }

          span {
            display: block;
            background-image: url("../images/gentleman/leftArrow.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            color: transparent;
            height: 44px;
            width: 44px;
          }
        }

        &.owl-next {
          @include breakpoint-up(md) {
            margin-left: 200px;
          }
          span {
            display: block;
            background-image: url("../images/gentleman/rightArrow.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            color: transparent;
            height: 44px;
            width: 44px;
          }
        }
      }
    }
  }

  &__item {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    margin: 35px 0;
  }

  &__item__img {
    text-align: center;
  }

  &__item__name {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: $genColor;
    text-transform: uppercase;
    padding: 0 8px;

    @include breakpoint-up(md) {
      font-size: 1.2rem;
    }
  }

  &__item__desc {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 700;
    color: #30313a;
    text-transform: uppercase;

    @include breakpoint-up(md) {
      font-size: 1rem;
    }
  }

  &__item__btn-wrapper {
    text-align: center;
    margin-top: 20px;
    padding: 0 20px 20px 20px;

    @include breakpoint-up(md) {
      margin-top: 30px;
    }
  }

  &__item__btn-more {
    display: block;
    text-transform: uppercase;
    background-color: $genColor;
    color: $white !important;
    font-weight: 700;
    line-height: 50px;
  }

  &__item__btn-purchase {
    display: block;
    text-transform: uppercase;
    background-color: $white;
    color: $black !important;
    font-weight: 700;
    line-height: 50px;
    border: 3px solid $genColor;

    background-image: url("../images/gentleman/cartIcon1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center;
  }
}

.gentleman-question {
  margin-top: 35px;
  margin-bottom: 60px;
  @include breakpoint-up(md) {
    margin-top: 65px;
    margin-bottom: 114px;
  }
  &__container {
    max-width: 1480px !important;
  }

  &__title {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    color: $black;
    text-shadow: 1px 2px 1px $genColor;
    background-image: url("../images/gentleman/smallIcon.png");
    background-position: bottom center;
    background-size: 300px auto;
    background-repeat: no-repeat;
    padding-bottom: 50px;
    @include breakpoint-up(md) {
      font-size: 2.643rem;
      background-size: 443px auto;
      padding-bottom: 78px;
    }
  }

  &__question-answer-wrapper {
    background-color: #f9f9f9;
    margin-left: -16px;
    margin-right: -16px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    @include breakpoint-up(md) {
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 279px;
      border-top-right-radius: 279px;
      border-bottom-right-radius: 0;
      padding: 8% 8%;
      margin-top: 65px;
    }
  }

  &__question {
    padding-top: 10px;
    padding-bottom: 10px;
    @include breakpoint-up(md) {
      padding-top: 0;
      padding-bottom: 0;
      margin: 0 auto;
      max-width: 1040px;
    }
  }

  &__item-wrapper {
    list-style: none;
    &.active {
      .gentleman-question__item {
        background-color: $white;
        border-radius: 50px;
        margin-left: 0;

        .gentleman-question__item-question {
          background-image: url("../images/gentleman/questionIcon1.png");
          @include breakpoint-up(md) {
          }
        }
      }
      .gentleman-question__item-answer {
        max-height: 10000px;
        padding: 3rem 2rem;
        background: #ffffff;
        margin: 2rem 0;
        border-radius: 7%;
      }
    }
  }

  &__item {
    list-style: none;
    padding-left: 10px;
  }

  &__item-question {
    display: block;
    font-weight: 700;
    font-size: 1rem;
    color: $black !important;
    background-image: url("../images/gentleman/questionIcon0.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 38px 38px;
    @include transition(0.3s);
    padding: 20px 0 20px 50px;
    @include breakpoint-up(md) {
      font-size: 1.143rem;
      background-size: 48px 48px;
      padding: 28px 0 28px 76px;
    }
  }

  &__item-answer {
    @include transition(0.5s);
    max-height: 0;
    overflow: hidden;
    p {
      color: $black;
      padding-bottom: 10px;
      font-size: 1rem;
      @include breakpoint-up(md) {
        margin-bottom: 20px;
        font-size: 1.143rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__answer {
    display: none;
    margin-top: 40px;
    &.active {
      display: block;
    }
    p {
      color: $black;
      padding-bottom: 20px;
      max-width: 745px;
      font-size: 1rem;
      @include breakpoint-up(md) {
        margin-bottom: 34px;
        font-size: 1.143rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    @include breakpoint-up(md) {
      width: 50%;
      margin-top: 0;
    }
  }
}
